@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    font-family: "Merriweather", serif;
}

/* Banner Style Start Here */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0pxs;
}
.banner-container{
    max-width: 1320px;
    height: 600px;
    border-radius: 15px;
    padding: 0px;
    margin: 0px;
    background-color: rgba(0,0,0,0.5);
    background-image: url('../images/Banner\ Image.png');
    background-position: center;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 30px;
    background-blend-mode: overlay;

}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 600px;
}

.banner-content{
    color: white;

}

.banner-content p{
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 900;
}